doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        style 
            include main.css
    body.body
        div.div
            h1
                span
                    img.logo(src="cid:logo" alt="logo")
            p Hello #{username}.
            block content 
            p Thank you.
            p CRUCKMAN @ &copy;ChatterboxSM
