.body {
    max-width: 100%;
    max-height: 400px;
    border-radius: 12px;
    background: linear-gradient(180deg, #000000, #630000 80%, #000000);
}

.div {
    letter-spacing: .065rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 12px;
    background: #000000;
}

h1, p {
    font-weight: bold;
    color: rgb(255, 69, 0);
}

.topText {
    font-family: 'Kochire';
}

.center {
    text-align: center;
}

.large {
    font-weight: bold;
    color: rgb(255, 120, 0);
    font-size: 2rem;
}