extends layouts/mail-layout.pug

block content 
    p Please use the following link to reset your password.
    p.center 
        code
            a.large(href=`${url}/PasswordReset?un=${username}`) Reset Password
            