extends layouts/mail-layout.pug

block content 
    p Please use the verification code below to verify your user account.
    p.center 
        code
            span.large #{verificationCode}
            