<html>
    <head></head>
    <body>
        <div style="margin: 0 auto; max-width: 600px">
            <p>Hello <%= userName %></p>
            <p>
                Please use the verification code below to 
                verify your user account on chatterboxsm.com
            </p>
            <p style="text-align: center; font-weight: bold">
                <%= verificationCode %>
            </p>
            <br />
            <p>Thank you.</p>
            <p>&copy;ChatterboxSM</p>
        </div>
    </body>
</html>